*{ box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #e8e8ff;
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: #171714;
    width: 100%;
    padding: 10px;
}
 
main article a{
    
    text-decoration: none;
    color: #FFEBF9;
    background-color: #171714;
    font-weight: bold;
    text-align: center;
    padding: 6px;
   
    

}
main img{
    color: #171714;
    margin: 20px ;
    padding: 10px;
}
#threeimage{
    text-align: center;
}

li{
        display: inline-block;
        padding:10px;
        color: azure;
        text-align: center;
        margin-left: 50px;
        margin-top: 15px;

    }
ul{
        margin-left: 30px;
    }
li a {
    margin-top: 30px;
}    

header nav{
    display: inline-block;
    position: relative; 

}
#lift{
    float: left;
    width: 50%;
}
#right{
    float: right;
    width: 50%;
    
}
h4 {
    font-weight: bold;
    padding: 10px 0;
}
p{
    text-align: justify;
    padding: 10px;

}
footer{
    background-color: #534F53;
    clear: both;
    padding: 20px;
}